<h2>Travel Wishlist</h2>

<form method="POST" action="{% url 'place_list' %}">
    {% csrf_token %}
    {{ new_place_form }}
    <button type="submit">Add</button>
</form>

{% for place in places %}

<div>
    {{ place.name }}

    <form method="POST" action="{% url 'place_was_visited' place.pk %}">
        {% csrf_token %}
        <button type="submit">Visited!</button>
    </form>
</div>

{% empty %}

<P>You have no places in your wishlist</p>

{% endfor %}

<a href="{% url 'places_visited' %}">Places you've visited</a>